name: Build matrix

on:
  pull_request:
  push:
    branches: [ main, master ]

jobs:
  build:
    name: Build ${{ matrix.system }}
    runs-on: ${{ matrix.runner }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - system: x86_64-linux
            runner: ubuntu-latest
          - system: aarch64-linux
            runner: ubuntu-24.04-arm
    env:
      CACHIX_CACHE: ${{ vars.CACHIX_CACHE }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install Nix
        uses: cachix/install-nix-action@v27
        with:
          extra_nix_config: |
            accept-flake-config = true

      - name: Setup Cachix (optional)
        if: env.CACHIX_CACHE != ''
        uses: cachix/cachix-action@v12
        with:
          name: ${{ env.CACHIX_CACHE }}
          authToken: ${{ secrets.CACHIX_AUTH_TOKEN }}

      - name: Build packages
        run: |
          nix build --print-build-logs .#packages.${{ matrix.system }}.ziti
          nix build --print-build-logs .#packages.${{ matrix.system }}.ziti-edge-tunnel
